<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/eco-manage-logo-removebg-preview.png" alt="Controle de Fazenda Urbana" width="200">
</div>

<MudNavMenu>

    <MudNavLink Href="/" Match="NavLinkMatch.All" Class="mt-2" Icon="@Icons.Material.TwoTone.Home">
        Dashboard
    </MudNavLink>

    <MudNavLink Href="/fornecedores" Class="mt-2" Icon="@Icons.Material.TwoTone.Business">
        Fornecedores
    </MudNavLink>

    <MudNavLink Href="/produtos" Class="mt-2" Icon="@Icons.Material.TwoTone.Agriculture">
        Produtos
    </MudNavLink>
    
    <MudSpacer/>
    <MudNavLink Href="/logout" Class="mt-8" Icon="@Icons.Material.TwoTone.Logout">
        Sair
    </MudNavLink>

</MudNavMenu>