<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/eco-manage-logo-removebg-preview.png" alt="Controle de Fazenda Urbana" width="200">
</div>

<MudNavMenu>

    <MudNavLink Href="/" Match="NavLinkMatch.All">
        Dashboard
    </MudNavLink>

    <MudNavLink Href="/fornecedores" >
        Fornecedores
    </MudNavLink>

    <MudNavLink Href="/produtos">
        Produtos
    </MudNavLink>
    
    <MudNavLink Href="/logout">
        Sair
    </MudNavLink>

</MudNavMenu>