@page "/fornecedores/editar/{id:}"
@inherits EditSupplierPage
<PageTitle>Editar Fornecedor | EcoManage</PageTitle>
<h1>Editar Fornecedor</h1>

<MudPaper Class="pa-8 mt-4 mb-2">
    
    <EditForm Model="InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator/> 


        <MudText Class="pa-1" Typo="Typo.h6">Dados:</MudText>
        <MudTextField Class="mb-2 pa-2" Variant="Variant.Outlined" T="long" Disabled="true" Label="Id do Fornecedor" @bind-Value="InputModel.Id"/>
        
        <MudTextField Class="mb-2 pa-2" Variant="Variant.Outlined" Label="Nome do Fornecedor" @bind-Value="InputModel.CompanyName" For="@(() => InputModel.CompanyName)"/>
        
        <MudText Class="pa-1" Typo="Typo.h6">Contato:</MudText>
        <MudTextField Class="mb-2 pa-2" Variant="Variant.Outlined" Label="E-mail" HelperText="Digite o e-mail do fornecedor" @bind-Value="InputModel.Email" For="@(() => InputModel.Email)"/>

        <MudTextField Class="mb-2 pa-2" Variant="Variant.Outlined" Label="Contato" Lines="3" HelperText="Digite outra forma de contato com o fornecedor" @bind-Value="InputModel.Contact" For="@(() => InputModel.Contact)"/>

        <div class="d-flex justify-center">

            <MudButton Class="mt-5" Size="Size.Medium" Variant="Variant.Outlined" ButtonType="ButtonType.Submit" Color="Color.Surface" StartIcon="@Icons.Material.TwoTone.SaveAs">
                Salvar Fornecedor
            </MudButton>

        </div>

    </EditForm>
    
</MudPaper>